.sginup{ 
    padding-top: 30px;
    border-style:groove;
    border-radius: 15px 50px;
    width: 500px;
    height: 500px;
    margin-top: 150px;
    margin-left: 550px;
    background-color:;
    
}
.form-group{
    
    display:inline-block;
    width: 240px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 80px; 
    
  }
.submit{
    margin-top: 30px;
}
.a{
    
    border-style:groove;
    border-radius: 20px 50px;
    border-left: 6px solid #FCAE4A;
    border-bottom: 6px solid #FCAE4A;
    outline: none;
}







